{% extends "admin/index.html" %}
{% block content %}
<div id='content-main'>
    {{block.super}}
    <a href='/stats/graph/list'><p> Graph Links </p></a>
    <a href='/stats/defensereport/'><p> Defense Placement Report </p></a>
    <a href='/stats/baseusagereport/'><p> Base Usage Report </p></a>
    <a href='/stats/dungeonreport/'><p> Dungeon Report </p></a>
    <a href='/stats/hackerreport/'><p> Hacker Alert Report </p></a>
    <a href='/stats/charchanges/'><p> Latest Character Changes </p></a>
    <a href='/stats/progressreport'><p> Player Progress By Account Age </p></a>
</div>
{% endblock %}
